<!-- Header START -->
<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-3 px-xl-5">
			<!-- Logo START -->
			<a class="navbar-brand" href="{{path('home')}}">
				<img class="light-mode-item navbar-brand-item" src="{{asset('assets/dev.png')}}" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="{{asset('assets/dev.png')}}" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<!-- Nav category menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown dropdown-menu-shadow-stacked">
						<a class="nav-link bg-primary bg-opacity-10 rounded-3 text-primary px-3 py-3 py-xl-0" href="{{path('categories')}}"><i class="bi bi-ui-radios-grid me-2"></i><span>Category</span></a>
						
					</li>
				</ul>
				<!-- Nav category menu END -->

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll me-auto">
					<!-- Nav item 1 Demos -->

						<a class="nav-link  " href="{{path('home')}}" >Home</a>
						<a class="nav-link  " href="{{path('categories')}}" >Categories</a>
						
					
					
						<a class="nav-link  " href="{{path('all_courses')}}" >Courses</a>

						<a class="nav-link  " href="{{path('aboutus')}}" >About us</a>

							<a class="nav-link  " href="{{path('contactus')}}" >Contact us</a>
						
					

				
				</ul>
				<!-- Nav Main menu END -->

				<!-- Nav Search START -->
				<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">
						<form class="position-relative">
							<input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
							<button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
						</form>
					</div>
				</div>
				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->

			<!-- Profile START -->
				{% if app.user %}
			<div class="dropdown ms-1 ms-lg-0">
				<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
					<img class="avatar-img rounded-circle" src="{{asset('assets/hatem.jpg')}}" alt="avatar">
				</a>
				<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
					<!-- Profile info -->
					<li class="px-3">
						<div class="d-flex align-items-center">
							<!-- Avatar -->
							<div class="avatar me-3">
								<img class="avatar-img rounded-circle shadow" src="{{asset('assets/hatem.jpg')}}" alt="avatar">
							</div>
							<div>
						
								<a class="h6" href="{{path('dash_pro')}}">{{app.user.nom}} {{app.user.prenom}}</a>
								
								<p class="small m-0">{{app.user.email}}</p>
							</div>
						</div>
						<hr>
					</li>
					<!-- Links -->
					<li><a class="dropdown-item" href="{{path('admin')}}"><i class="bi bi-person-workspace fa-fw me-2"></i>Admin</a></li>
					<li><a class="dropdown-item" href="{{path('dash_pro')}}"><i class="bi bi-speedometer2 fa-fw me-2"></i>Dashboard</a></li>
					<li><a class="dropdown-item" href="{{path('courses_list')}}"><i class="bi bi-card-list fa-fw me-2"></i>Courses</a></li>
					<li><a class="dropdown-item" href="{{path('favoritlist')}}"><i class="bi bi-bookmark-heart fa-fw me-2"></i>Favorits</a></li>
					<li><a class="dropdown-item" href="{{path('editprof')}}"><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a></li>
					<li><a class="dropdown-item" href="{{path('editpass')}}"><i class="bi bi-shield-lock fa-fw me-2"></i>Edit password</a></li>					
					<li><a class="dropdown-item bg-danger-soft-hover" href="{{path('app_logout')}}"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
					<li> <hr class="dropdown-divider"></li>
					<!-- Dark mode switch START -->
					<li>
						<div class="modeswitch-wrap" id="darkModeSwitch">
							<div class="modeswitch-item">
								<div class="modeswitch-icon"></div>
							</div>
							<span>Dark mode</span>
						</div>
					</li> 
					<!-- Dark mode switch END -->
				</ul>
			</div>
			{% else %}
			<a class="nav-link " href="{{path('app_login')}}" >Login</a>
			<a class="nav-link  " href="{{path('app_register')}}" >Register</a>
			{% endif %}
			
			<!-- Profile START -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->
